.file__native_item {
  display: none;
}

.file__uploaded_image {
  max-width: 100%;
  max-height: 300px;
}

.file__upload_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.file__uploaded_image_container {
  width: 60%;
}
