.icon__container {
  width: 150px;
  height: 150px;
  background: #0bf;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  color: #fff;
  align-items: center;
  border: 2px solid #066bff;
  font-size: 75px;
  margin: 5px;
}

.icon__container--hover:hover {
  cursor: pointer;
}

.icon__link {
  color: #fff;
}

@media screen and (max-width: 800px) {
  .icon__container {
    width: 100px;
    height: 100px;
    font-size: 50px;
  }
}

@media screen and (max-width: 600px) {
  .icon__container {
    width: 80px;
    height: 80px;
    font-size: 40px;
  }
}

@media screen and (max-width: 450px) {
  .icon__container {
    width: 60px;
    height: 60px;
    font-size: 30px;
  }
}
